body{
    margin: 0%;
    padding: 0%;
    /* background-image: url("/assets/Taniboen\ Background.png");
    background-size: cover;
    background-position: center; */
}

.main{
    background: url('/assets/farming-background.jpg')no-repeat;
    background-size: cover;
}

.information-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    gap: 10px;
    flex-direction: column;
    font-size: 100px;
    /* background-image: url('/assets/farming-background.jpg');
    background-position: center;
    background-size: cover; */
    padding-top: 50px;
    padding-bottom: 50px;
}

.information-vege{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.information-row{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 40px;
    flex-wrap: wrap;
}

.obj{
    border: 2px solid black;
    padding: 5px;
    padding-bottom: 20px;   
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 8px black;
    gap: 20px;
    background-color: aqua;
}

.obj label{
    color: black;
    font-size: 20px;
    text-align: center;
    font-size: 18px ;
}

.vege-img{
    height: 259px;
    width: 288px;
    border-radius: 10px;
    border: 2px solid black;
}

.view-more button{
    
}

/* @media only screen and (max-width: 1500px) {
    .information-row{
        display: flex;
        flex-direction: column;
    }
  } */